@model IEnumerable<ProyectowebB.Entities.UsuarioEnt>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-4">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="custom-card col-md-13">
            <div class="card-body">
                <h4 class="card-title"> Usuarios del Sistema</h4>
                <br />
                <table id="miTabla" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Correo Electrónico</th>
                            <th>Identificación</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CorreoElectronico</td>
                                <td>@item.Identificacion</td>
                                <td>@item.Nombre</td>
                                @if (item.Estado)
                                {
                                    <td>Activo</td>
                                }
                                else
                                {
                                    <td>Inactivo</td>
                                }
                            <td style="display: flex">
                                <div class="btn-group" style="margin-right: 10px;">
                                    <a class="btn btn-primary" href="@Url.Action("ActualizarUsuario","Usuario", new {onsubmit = "showSpinner()", q = item.IdUsuario })">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                                @if (item.Estado)
                                {
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger openModal" data-toggle="modal" data-target="#exampleModal"
                                                data-id=@item.IdUsuario data-backdrop="static" data-keyboard="false">
                                            <i class="fas fa-exchange-alt"></i>
                                        </button>
                                    </div>
                                }
                                else
                                {
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary openModal" data-toggle="modal" data-target="#exampleModal"
                                                data-id=@item.IdUsuario data-backdrop="static" data-keyboard="false">
                                            <i class="fas fa-exchange-alt"></i>
                                        </button>
                                    </div>
                                }
                            </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cambiar Estado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de cambiar el estado del usuario?

                <input type="hidden" id="idModalHidden">

            </div>
            <div class="modal-footer">
                <button type="button" onclick="CambiarEstado();" class="btn btn-primary">Procesar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="~/Funciones/CambiarEstado.js"></script>

