
@{
    ViewBag.Title = "Contactenos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bienvenido a nuestra ferretería</h1>
<p>Nos dedicamos a ofrecer a nuestros clientes una amplia variedad de herramientas y suministros para cualquier proyecto en el que se embarquen. Con más de 4 años de experiencia en la industria, hemos desarrollado una reputación por proporcionar productos y servicios de alta calidad a precios competitivos.</p>
<p>En nuestra tienda, encontrará una gran selección de herramientas manuales y eléctricas, suministros de fontanería, pintura y otros materiales de construcción. Nos esforzamos por ofrecer solo las marcas más confiables del mercado, para que nuestros clientes puedan estar seguros de que están comprando productos de alta calidad y durabilidad.</p>
<p>Nuestro personal está altamente capacitado y siempre está dispuesto a ayudar a los clientes con cualquier pregunta o problema que puedan tener. Nos enorgullece brindar un excelente servicio al cliente y asegurarnos de que nuestros clientes salgan de la tienda satisfechos con su compra.</p>
<p>En resumen, en nuestra ferretería ofrecemos productos de alta calidad a precios competitivos, junto con un excelente servicio al cliente. Si necesita herramientas o suministros para cualquier proyecto de construcción o reparación, ¡no dude en visitarnos!</p>




<ul class="cards">
    <li>
        <a href="" class="card">
            <img src="https://c8.alamy.com/compes/hyda9j/serrucho-de-herramienta-de-carpinteria-icono-vectorial-ilustracion-diseno-grafico-hyda9j.jpg" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                    <img class="card__thumb" src="https://cdn-icons-png.flaticon.com/512/6833/6833553.png" alt="" />
                    <div class="card__header-text">
                        <h3 class="card__title">David Cardenas </h3>
                        <span class="card__tagline">Correo: dcardenas90058@ufide.ac.cr  </span>
                        <span class="card__status"> Activo hace:30 minutos</span>
                    </div>
                </div>
                <p class="card__description"> Si desea ponerse en contacto,puede hacerlo enviando un correo. Haremos todo lo posible para responder a su correo electrónico lo antes posible</p>
            </div>
        </a>
    </li>
    <li>
        <a href="" class="card">
            <img src="https://img.freepik.com/vector-gratis/diseno-etiqueta-martillo-garra-aislado_1308-61820.jpg?w=2000" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                    <img class="card__thumb" src="https://thumbs.dreamstime.com/b/icono-del-c%C3%ADrculo-hombre-de-negocios-107497337.jpg" alt="" />
                    <div class="card__header-text">
                        <h3 class="card__title">Bryan Masis</h3>
                        <span class="card__tagline">Correo: bmasis80302@ufide.ac.cr </span>
                        <span class="card__status">Activo hace: 3 horas</span>
                    </div>
                </div>
                <p class="card__description"> Si desea ponerse en contacto,puede hacerlo enviando un correo. Haremos todo lo posible para responder a su correo electrónico lo antes posible</p>
            </div>
        </a>
    </li>
    <li>
        <a href="" class="card">
            <img src="https://static.vecteezy.com/system/resources/previews/014/465/995/non_2x/screwdriver-icon-cartoon-style-vector.jpg" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                    <img class="card__thumb" src="https://cdn-icons-png.flaticon.com/512/4532/4532510.png" alt="" />
                    <div class="card__header-text">
                        <h3 class="card__title">Daniel Vargas</h3>
                        <span class="card__tagline">Correo:dvargas30529@ufide.ac.cr </span>
                        <span class="card__status">Activo hace: 15 minutos</span>
                    </div>
                </div>
                <p class="card__description"> Si desea ponerse en contacto,puede hacerlo enviando un correo. Haremos todo lo posible para responder a su correo electrónico lo antes posible</p>
            </div>
        </a>
    </li>
    <li>
        <a href="" class="card">
            <img src="https://previews.123rf.com/images/yupiramos/yupiramos1802/yupiramos180225388/96058845-dise%C3%B1o-de-ilustraci%C3%B3n-de-vector-de-decoraci%C3%B3n-de-maceta-de-flores-naturales-arte-de-dibujo.jpg" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                    <img class="card__thumb" src="https://img.freepik.com/vector-premium/icono-perfil-personas_24877-40756.jpg" alt="" />
                    <div class="card__header-text">
                        <h3 class="card__title">Ailyn Grillo</h3>
                        <span class="card__tagline">Correo: agrillo50705@ufide.ac.cr  </span>
                        <span class="card__status">Activo hace: 2 horas</span>
                    </div>
                </div>
                <p class="card__description">
                    Si desea ponerse en contacto,puede hacerlo enviando un correo. Haremos todo lo posible para responder a su correo electrónico lo antes posible
                </p>
            </div>
        </a>
    </li>
</ul>