
@{
    ViewBag.Title = "Contactenos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container">
        <div class="container-fluid">

            <!-- Page Heading -->
            <br />
            <br />
            <h1 class="h3 mb-2 text-gray-800">Contacto de Snap Tools</h1>
            <br />
            <p class="mb-4">La sección de contacto es una parte importante del sitio web de nuestra ferretería. Aquí es donde nuestros clientes pueden comunicarse con nosotros para hacer preguntas, resolver dudas o recibir ayuda en sus compras.</p>

            <ul class="cards">
                <li>
                    <a href="" class="card">
                        <img src="https://c8.alamy.com/compes/hyda9j/serrucho-de-herramienta-de-carpinteria-icono-vectorial-ilustracion-diseno-grafico-hyda9j.jpg" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                                <img class="card__thumb" src="https://cdn-icons-png.flaticon.com/512/6833/6833553.png" alt="" />
                                <div class="card__header-text">
                                    <h3 class="card__title">David Cárdenas </h3>
                                    <span class="card__tagline">Correo: dcardenas90058@ufide.ac.cr  </span>
                                    <span class="card__status"> Activo hace: 30 minutos</span>
                                </div>
                            </div>
                            <p class="card__description"> Si desea ponerse en contacto,puede hacerlo enviando un correo. Haremos todo lo posible para responder a su correo electrónico lo antes posible</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class="card">
                        <img src="https://img.freepik.com/vector-gratis/diseno-etiqueta-martillo-garra-aislado_1308-61820.jpg?w=2000" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                                <img class="card__thumb" src="https://thumbs.dreamstime.com/b/icono-del-c%C3%ADrculo-hombre-de-negocios-107497337.jpg" alt="" />
                                <div class="card__header-text">
                                    <h3 class="card__title">Bryan Masis</h3>
                                    <span class="card__tagline">Correo: bmasis80302@ufide.ac.cr </span>
                                    <span class="card__status">Activo hace: 3 horas</span>
                                </div>
                            </div>
                            <p class="card__description"> Si desea ponerse en contacto,puede hacerlo enviando un correo. Haremos todo lo posible para responder a su correo electrónico lo antes posible</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class="card">
                        <img src="https://static.vecteezy.com/system/resources/previews/014/465/995/non_2x/screwdriver-icon-cartoon-style-vector.jpg" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                                <img class="card__thumb" src="https://cdn-icons-png.flaticon.com/512/4532/4532510.png" alt="" />
                                <div class="card__header-text">
                                    <h3 class="card__title">Daniel Vargas</h3>
                                    <span class="card__tagline">Correo:dvargas30529@ufide.ac.cr </span>
                                    <span class="card__status">Activo hace: 15 minutos</span>
                                </div>
                            </div>
                            <p class="card__description"> Si desea ponerse en contacto,puede hacerlo enviando un correo. Haremos todo lo posible para responder a su correo electrónico lo antes posible</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class="card">
                        <img src="https://previews.123rf.com/images/yupiramos/yupiramos1802/yupiramos180225388/96058845-dise%C3%B1o-de-ilustraci%C3%B3n-de-vector-de-decoraci%C3%B3n-de-maceta-de-flores-naturales-arte-de-dibujo.jpg" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                                <img class="card__thumb" src="https://img.freepik.com/vector-premium/icono-perfil-personas_24877-40756.jpg" alt="" />
                                <div class="card__header-text">
                                    <h3 class="card__title">Ailyn Grillo</h3>
                                    <span class="card__tagline">Correo: agrillo50705@ufide.ac.cr  </span>
                                    <span class="card__status">Activo hace: 2 horas</span>
                                </div>
                            </div>
                            <p class="card__description">
                                Si desea ponerse en contacto,puede hacerlo enviando un correo. Haremos todo lo posible para responder a su correo electrónico lo antes posible
                            </p>
                        </div>
                    </a>
                </li>
            </ul>

            <!-- Acerca de nosotros -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Acerca de nosotros</h6>
                </div>
                <div class="card-body">
                    <p class="mb-4">Desde nuestra fundación en 1998, en Snap Tools nos hemos enfocado en ofrecer productos de primera calidad a precios competitivos y un excelente servicio al cliente. Somos una empresa comprometida con la satisfacción de nuestros clientes, por lo que siempre estamos a la vanguardia en tecnología, diseño y funcionalidad en nuestras herramientas y equipos de trabajo.</p>
                    <p class="mb-4">En Snap Tools contamos con un amplio catálogo de herramientas manuales, eléctricas, neumáticas, de medición, de corte, entre otras, además de ofrecer accesorios y refacciones de las marcas más reconocidas en el mercado. Además, contamos con un equipo de expertos en herramientas y técnicas de trabajo que están siempre dispuestos a brindar asesoría y soporte técnico para garantizar la mejor experiencia de compra.</p>
                </div>
            </div>

            <!-- Nuestros servicios -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Nuestros servicios</h6>
                </div>
                <div class="card-body">
                    <p class="mb-4">En Snap Tools ofrecemos los siguientes servicios para satisfacer las necesidades de nuestros clientes:</p>
                    <ul>
                        <li>Asesoría y soporte técnico personalizado.</li>
                        <li>Entrega a domicilio de productos y herramientas.</li>
                        <li>Servicio de mantenimiento y reparación de herramientas y equipos.</li>
                        <li>Cursos y talleres de capacitación en técnicas y herramientas de trabajo.</li>
                    </ul>
                </div>
            </div>

            <!-- Horario de atención -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Horario de atención</h6>
                </div>
                <div class="card-body">
                    <p class="mb-4">Nuestro horario de atención es de lunes a viernes de 8:00 am a 7:00 pm, y los sábados de 9:00 am a 2:00 pm. ¡Te esperamos en nuestra tienda para brindarte la mejor atención y productos de calidad!</p>
                </div>
            </div>
        </div>
   </div>
</main>
