
@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div id="layoutSidenav_content">*@


<main>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">


                <img src="~/img/Imagen_SNAP_Mesa_de_trabajo_1.png" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">


                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/xd_Mesa_de_trabajo_1_copia.png" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">


                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/Imagen_SNAP_Mesa_de_trabajo_1_copia_2.png" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">


                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
     <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;"> 
         <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
             <div class="col">
                 <div class="card h-100 shadow-sm">
                     <img src="https://bercovichsa.vteximg.com.br/arquivos/ids/160622-690-690/tornillo-t1-punta-aguja.jpg?v=637850171782500000" class="card-img-top" alt="...">
                     <div class="card-body">
                         <div class="clearfix mb-3">
                             <span class="float-start badge rounded-pill bg-primary">Tornillo de cruz</span> <span class="float-end price-hp">₡5000</span>
                         </div>
                         <h5 class="card-title">Paquete de tornillos de cruz pequeño.</h5>
                         <div class="text-center my-4"> <a href="#" class="btn btn-warning">Agregar al carrito </a> </div>
                     </div>
                 </div>
             </div>
             <div class="col">
                 <div class="card h-100 shadow-sm">
                     <img src="https://cdn.shopify.com/s/files/1/0851/2244/products/3850_c7078dfb-1637-493e-9bd1-147f38f51854.jpg?v=1506714113" class="card-img-top" alt="...">
                     <div class="card-body">
                         <div class="clearfix mb-3">
                             <span class="float-start badge rounded-pill bg-primary">Martillo de metal</span> <span class="float-end price-hp">₡15 000</span>
                         </div>
                         <h5 class="card-title"> Martillo de metal azul grande.</h5>
                         <div class="text-center my-4"> <a href="#" class="btn btn-warning">Agregar al carrito</a> </div>
                     </div>
                 </div>
             </div>
             <div class="col">
                 <div class="card h-100 shadow-sm">
                     <img src="https://cr.epaenlinea.com/media/catalog/product/c/2/c2f45817-2c5e-4fbe-962e-f3ddcb7d8b0a.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=300&width=300&canvas=300:300" class="card-img-top" alt="...">
                     <div class="card-body">
                         <div class="clearfix mb-3">
                             <span class="float-start badge rounded-pill bg-primary">Serrucho</span> <span class="float-end price-hp">₡15 950</span>
                         </div>
                         <h5 class="card-title"> Serrucho para trabajo rudo de 15 dientes.</h5>
                         <div class="text-center my-4"> <a href="#" class="btn btn-warning">Agregar al carrito</a> </div>
                     </div>
                 </div>
             </div>
             <div class="col">
                 <div class="card h-100 shadow-sm">
                     <img src="https://cr.epaenlinea.com/media/catalog/product/5/3/530959f0-a312-436a-9c59-03a9e3647ad2.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=300&width=300&canvas=300:300" class="card-img-top" alt="...">
                     <div class="card-body">
                         <div class="clearfix mb-3">
                             <span class="float-start badge rounded-pill bg-primary">Alicate universal</span> <span class="float-end price-hp">₡7 495</span>
                         </div>
                         <h5 class="card-title"> Alicate universal 7 stanley.</h5>
                         <div class="text-center my-4"> <a href="#" class="btn btn-warning">Agregar al carrito</a> </div>
                     </div>
                 </div>
             </div>
             <div class="col">
                 <div class="card h-100 shadow-sm">
                     <img src="https://gt.epaenlinea.com/media/catalog/product/cache/3f8a07f91ed96197ac7613a4e8859f2d/a/f/afae4a73-f9a5-4bdd-bcae-fa8c40c26f0f.jpg" class="card-img-top" alt="...">
                     <div class="card-body">
                         <div class="clearfix mb-3">
                             <span class="float-start badge rounded-pill bg-primary">Pala corta</span> <span class="float-end price-hp">₡7000</span>
                         </div>
                         <h5 class="card-title"> Pala corta redonda.</h5>
                         <div class="text-center my-4"> <a href="#" class="btn btn-warning">Agregar al carrito</a> </div>
                     </div>
                 </div>
             </div>
             <div class="col">
                 <div class="card h-100 shadow-sm">
                     <img src="https://cr.epaenlinea.com/media/catalog/product/3/d/3dd0d9bf-518a-4043-8b35-684566a340ba.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=300&width=300&canvas=300:300" class="card-img-top" alt="...">
                     <div class="card-body">
                         <div class="clearfix mb-3">
                             <span class="float-start badge rounded-pill bg-primary">Esmeril DeWALT</span> <span class="float-end price-hp">₡95950</span>
                         </div>
                         <h5 class="card-title"> Esmeri DeWALT 4 1/2 pulgadas 1200 w.</h5>
                         <div class="text-center my-4"> <a href="#" class="btn btn-warning">Agregar al carrito</a> </div>
                     </div>
                 </div>
             </div>
             <div class="col">
                 <div class="card h-100 shadow-sm">
                     <img src="https://ferreteriavidri.com/images/items/large/23973.jpg" class="card-img-top" alt="...">
                     <div class="card-body">
                         <div class="clearfix mb-3">
                             <span class="float-start badge rounded-pill bg-primary">Taladro DeWALT</span> <span class="float-end price-hp">₡15000</span>
                         </div>
                         <h5 class="card-title"> Taladro DeWALT 3/8 pulg 600W velocidad variable .</h5>
                         <div class="text-center my-4"> <a href="#" class="btn btn-warning">Agregar al carrito</a> </div>
                     </div>
                 </div>
             </div>
             <div class="col">
                 <div class="card h-100 shadow-sm">
                     <img src="https://www.incolma.com/wp-content/uploads/2022/04/Brocas-HSS-Barracuda-e1624672193286.png" class="card-img-top" alt="...">
                     <div class="card-body">
                         <div class="clearfix mb-3">
                             <span class="float-start badge rounded-pill bg-primary">Brocas</span> <span class="float-end price-hp">₡5000</span>
                         </div>
                         <h5 class="card-title">Broca HSS 19/64.</h5>
                         <div class="text-center my-4"> <a href="#" class="btn btn-warning">Agregar al carrito</a> </div>
                     </div>
                 </div>
             </div>
             <div class="col">
                 <div class="card h-100 shadow-sm">
                     <img src="https://cf.shopee.ph/file/d5e82f95b608b5a4ad4f1056201d0e8d" class="card-img-top" alt="...">
                     <div class="card-body">
                         <div class="clearfix mb-3">
                             <span class="float-start badge rounded-pill bg-primary">Maso de metal</span> <span class="float-end price-hp">₡20000</span>
                         </div>
                         <h5 class="card-title"> Mazo Rubber Grip de 3LB.</h5>
                         <div class="text-center my-4"> <a href="#" class="btn btn-warning">Agregar al carrito</a> </div>
                     </div>
                 </div>
             </div>
             <div class="col">
                 <div class="card h-100 shadow-sm">
                     <img src="https://cr.epaenlinea.com/media/catalog/product/1/6/165e67a0-15b2-4aa2-96c1-3e48f83ee710.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=300&width=300&canvas=300:300" class="card-img-top" alt="...">
                     <div class="card-body">
                         <div class="clearfix mb-3">
                             <span class="float-start badge rounded-pill bg-primary">Clavo con cabeza</span> <span class="float-end price-hp">₡1525</span>
                         </div>
                         <h5 class="card-title"> Clavo con cabeza de 4 pulgadas- 1 kilogramo.</h5>
                         <div class="text-center my-4"> <a href="#" class="btn btn-warning">Agregar al carrito</a> </div>
                     </div>
                 </div>
             </div>
             <div class="col">
                 <div class="card h-100 shadow-sm">
                     <img src="https://i0.wp.com/www.mayzapcr.com/wp-content/uploads/2020/11/TALADRO-ATORNILLADOR-GSR-120-LI-JGO-DE-BROCAS-23PCZ.jpg?fit=1200%2C1200&ssl=1" class="card-img-top" alt="...">
                     <div class="card-body">
                         <div class="clearfix mb-3">
                             <span class="float-start badge rounded-pill bg-primary">Taladro BOSCH</span> <span class="float-end price-hp">₡94 500</span>
                         </div>
                         <h5 class="card-title"> Taladro atornillador inalambrico.</h5>
                         <div class="text-center my-4"> <a href="#" class="btn btn-warning">Agregar al carrito</a> </div>
                     </div>
                 </div>
             </div>
             <div class="col">
                 <div class="card h-100 shadow-sm">
                     <img src="https://cdn10.totalcode.net/metropolis/product-zoom/es/destornillador-pro-punta-pala-5~14x6-%28stht69121%29-stanley-1.webp" class="card-img-top" alt="...">
                     <div class="card-body">
                         <div class="clearfix mb-3">
                             <span class="float-start badge rounded-pill bg-primary">Desatornillador plano</span> <span class="float-end price-hp">₡8000</span>
                         </div>
                         <h5 class="card-title"> Desatornillador Pro punta plana 5/14X6</h5>
                         <div class="text-center my-4"> <a href="#" class="btn btn-warning">Agregar al carrito</a> </div>
                     </div>
                 </div>
             </div>

             <div class="col">
                 <div class="card h-100 shadow-sm">
                     <img src="https://cr.epaenlinea.com/media/catalog/product/f/9/f9c4f420-4d71-42e2-a92c-4fd3ad5a327d.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=300&width=300&canvas=300:300" class="card-img-top" alt="...">
                     <div class="card-body">
                         <div class="clearfix mb-3">
                             <span class="float-start badge rounded-pill bg-primary">Cemento fuerte</span> <span class="float-end price-hp">₡6495</span>
                         </div>
                         <h5 class="card-title"> Cemento holcim saco de 50 kilogramos.</h5>
                         <div class="text-center my-4"> <a href="#" class="btn btn-warning">Agregar al carrito</a> </div>
                     </div>
                 </div>
             </div>
         </div>
         
    </div> 


</main>
